html {
  font-size: 16px;
}
@media (max-width: 900px) {
  html { font-size: 14px; }
}
@media (max-width: 400px) {
  html { font-size: 12px; }
}

/* Type will scale with document */
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}

body {
  font-family: $body-font;
  color: $white;
	background: $dark-gray;
	padding: 20px 100px;
}

.grid {
  display: grid;
  grid-template-rows: auto;
	grid-template-columns: repeat(12, 1fr);
}

.content {
	grid-column: span 12;
}

footer {
	grid-column: span 12;
}

.logo {
	grid-column: span 1;
}
aside.nav-menu-container {
	grid-column: span 11;
}

.nav-menu {
	font-family: $heading-font;
	font-weight: 500;
	color: $white;
	position: absolute;
	right: 100px;

	ul {
		list-style: none;		

		li {
			display: inline;
			padding:20px;

			a {
				color: $white;
				text-decoration: none;

				&:hover,
	      &:active {
	        text-decoration: none;
	        color: $red;
	      }

	      &.active-link {
	      	color: $red;
	      }
			}
		}
	}
}

h1 {
	font-family: $heading-font;
	color: $green;
}

h2 {
	color: $green;
	font-family: $heading-font;
}

h3 {
	color: $green;
	font-family: $heading-font;
}

.header {
	grid-column: span 12;
	height: calc(100vh - 10px);
	
	.title h1 {
		font-size: 6rem;
		margin-top: 200px;
	}

	.subtitle {
		font-size: 1.7rem;
		color: $white;
		width: 45rem;
		
		p {
			font-weight: 300;
		}
	}
}

@media (max-width: 767px) {
	.grid {
		display: block;
	}

	.box {
		margin: 10px 0;
	}

	.title h1 {
		font-size: 3rem;
	};
}

.portfolio-preview {
	grid-column: span 6;
	margin: 20px 20px 20px 0;

	img {
		width: 100%;
		min-width: 360px;
	}

	p { 
		text-align: center;
		font-size: 1.2rem;
	}
}

.recent-work {
	grid-column: span 12;
}