<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main class="grid">
      {% include nav_menu.html %}
      <div class="header">
        <div class="title">
          <h1>{{ page.title }}</h1>
        </div>
        <div class="subtitle">
          <p>{{ page.subtitle }}</p>
        </div>
      </div>

      <div class="recent-work"><h2>Recent work</h2></div>
      <div class="portfolio-preview">
        <img src="/assets/portfolio-preview/elvira.png" alt="Elvira personal website design">
        <p class="project-title">Life coach website redesign</p>
      </div>
      <div class="portfolio-preview">
        <img src="/assets/portfolio-preview/edinburgh_landing.png" alt="Edinburgh landing page website design">
        <p class="project-title">Visit Edinburgh landing page design</p>
      </div>
      <div class="portfolio-preview">
        <img src="/assets/portfolio-preview/ioana_logo.png" alt="Ioana Cosma logo design">
        <p class="project-title">Photographer personal logo</p>
      </div>
      <div class="portfolio-preview">
        <img src="/assets/portfolio-preview/piano_practice_landing.png" alt="Piano practice website landing page design">
        <p class="project-title">Piano practice landing page design</p>
      </div>
      <article class="content">
        {{ content }}
      </article>
      {% include footer.html %}
    </main>

  </body>
</html>